.contents {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.timeline > li {
  overflow: hidden;
  margin: 0;
  position: relative;
}
.timeline-date {
  width: 110px;
  float: left;
  margin-top: 20px;
}
.timeline-content {
  width: 75%;
  float: left;
  border-left: 3px solid #ccc;
  padding-left: 30px;
}
.timeline-content:before {
  content: '';
  width: 12px;
  height: 12px;
  background: black;
  position: absolute;
  left: 106px;
  top: 24px;
  border-radius: 100%;
}

img {
  width: 150px;
  height: auto;
}

a {
  color: black;
  text-decoration: none;
}

h1 {
  text-align: center;
}

.navi {
  display: flex;
  justify-content: center;
}

.navi a.active {
  text-decoration: underline;
}

.verticalB {
  padding-left: 10px;
  padding-right: 10px;
}

.newsTitle {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  margin-bottom: 0px;
}

.newsBox {
  border: 1px solid black;
}

.newsBox table {
  padding: 15px;
}

footer {
  text-align: center;
  margin-top: auto;
}

.formLink {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ccc;
  padding: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.3);
}

/*.timeline {
  list-style: none;
}
.timeline > li {
  margin-bottom: 60px;
}*/