.contents {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #2e3b70;
  color: #ffffff;
  /*color: #d5d8e2;*/
  font-weight: 500;
  letter-spacing: 0.15em;
  font-family: "Noto Sans JP", sans-serif;
  user-select: none;
  padding-top: 30px;
  padding-bottom: 20px;
}

.contentsBox {
  margin-bottom: 50px;
}

.contentsBox p {
  padding-left: 10px;
  padding-right: 10px;
  line-height: 2;
}

h3 {
  border-bottom: 2px solid #f58c9a;
}

.tooltip {
  font-size: 16px;
}

/* ナビゲーション */
.navBar {
  background-color: #2e3b70;
}

.titles {
  display: table;
  width: 1050px;
  margin: 0 auto;
}

a {
  color: #d5d8e2;
  text-decoration: none;
}

.titles p {
  display: table-cell;
  text-align: left;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.titles p a {
  color: #ef4056;
}

.titles a {
  color: #d5d8e2;
}

.navi {
  display: table-cell;
  text-align: right;
  font-family: "Montserrat", sans-serif;
}

.navi a:nth-child(n + 2) {
  margin-left: 20px;
}

.navi a.active {
  color: #ef4056;
}

.nav_contact {
  padding-left: 5px;
}

/* TOPページのNEWS部分 */
.mainContent {
  width: 1050px;
  margin: 0 auto;
}

.greetingImg {
  margin-top: 45px;
  margin-bottom: 20px;
  width: 1050px;
  height: auto;
  filter: grayscale(0%);
}

.greetingTitle {
  font-family: "Montserrat", sans-serif;
  margin-top: 15px;
}

/* 経歴年表 */

.pageTitle {
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  color: #ef4056;
}

.twitterLink {
  color: #00acee;
}

.githubIcon {
  padding-left: 10px;
}

.githubIcon i {
  margin-bottom: 15px;
}

.qiitaIcon {
  background-color: #4aac00;
  padding: 10px;
  border-radius: 10px;
}

.timeline {
  padding: 0px;
}

.timeline_title {
  border-bottom: none;
}

.timeline li {
  overflow: hidden;
  margin: 0;
  position: relative;
}

.timeline .hiddenOne {
  overflow: hidden;
  margin: 0;
  position: relative;
}

.hiddens {
  visibility: hidden;
}

.hiddenC h3 {
  visibility: hidden;
}

.hiddenC p {
  visibility: hidden;
}

.hiddenC:before {
  visibility: hidden;
}

.timeline-date {
  width: 105px;
  float: left;
  margin-top: 20px;
  padding-right: 15px;
  text-align: right;
}

.timeline-content {
  width: 80%;
  float: left;
  border-left: 3px solid #d1d3df;
  padding-left: 30px;
  padding-bottom: 20px;
}

.timeline-content p {
  padding-left: 0px;
}

.timeline-content:before {
  content: "";
  width: 16px;
  height: 16px;
  background: #ef4056;
  position: absolute;
  left: 119px;
  top: 24px;
  border-radius: 100%;
}

.timeline-content p {
  line-height: 2;
}

/* スキルのアイコン画像 */
.category {
  color: #ef4056;
  margin-bottom: 15px;
  line-height: initial;
}

.lists {
  margin-bottom: 50px;
}

.lists .list {
  border-bottom: 2px solid #c1c4c4;
  margin-bottom: 0px;
  margin-top: 30px;
}

.lists .list:nth-child(1) {
  margin-top: 0px;
}

.list i {
  color: #ef4056;
  padding-right: 5px;
}

.lists p {
  padding-left: 0px;
  margin-left: 10px;
}

.comment {
  margin-top: 0px;
}

.comment i {
  padding-right: 5px;
}

/* My Worksページ */
.worksCategory {
  margin-top: 0px;
}

.cardsList {
  margin-bottom: 50px;
}

.cards {
  margin-top: 20px;
  display: flex;
}

.card {
  border: 1px solid #c1c4c4;
  border-radius: 10px;
  width: 262px;
  height: auto;
  background-color: #f8f8f8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card:nth-child(n + 2) {
  margin-left: 7.5px;
}

.card img {
  width: 262px;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card:hover {
  transform: translateY(-15px);
}

.cardContents .cardTitle .appTitle {
  text-align: center;
  color: #333333;
  padding-left: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
}

.cardContents .cardTitle .finishedDate {
  text-align: center;
  color: #878989 !important;
  padding-left: 0px;
  margin-top: 5px;
  margin-bottom: 10px;
}

.worksImgs {
  position: relative;
}

.worksImgs p {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #ffffff;
  background-color: #f58c9a;
  margin-top: 0;
  margin-bottom: 5px;
}

/* 成果物詳細ページ */
.detailTitle {
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  color: #ef4056;
}

.mainContent .contentsBox p {
  line-height: 2;
}

.howtouse {
  display: flex;
  padding-left: 10px;
}

.number {
  background-color: #f58c9a;
  width: 24px;
  height: 24px;
  border-radius: 10%;
}

.number span {
  color: #fff;
  display: block;
  text-align: center;
  font-size: 15px;
}

.howtouse p {
  margin-top: 0px;
  padding-left: 5px;
  line-height: 1.5 !important;
}

.videoBox {
  text-align: center;
}

.video {
  width: 710px;
  padding-top: 30px;
}

.videoBox p {
  margin-top: 0px;
}

.appLink {
  background-color: #ef4056;
  text-align: center;
  width: 710px;
  margin: 0 auto;
  border-radius: 10px;
  border-bottom: solid 4px #627295;
  margin-top: 30px;
}

.appLink p {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.appLink a {
  color: #fff;
  font-weight: bold;
}

.appLink:hover {
  transform: translateY(4px);
}

.homeusa {
  display: block;
}

.homeusaqr {
  display: block;
  width: 20%;
  height: auto;
  margin: 0 auto;
}

.homeusa figcaption {
  text-align: center;
  padding-top: 10px;
}

/* フッター */
footer {
  /*background-color: #eee;*/
  text-align: center;
  margin-top: auto;
  padding-top: 100px;
}

@media screen and (max-width: 767px) {
  .content {
    letter-spacing: 0;
  }

  .titles {
    display: block;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 30px 0;
  }

  .titles p {
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .titles p a {
    text-align: center;
  }

  .navi {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .navi a {
    font-size: 18px;
  }

  .navi a:nth-child(n + 2) {
    margin-left: 15px;
  }

  .mainContent {
    width: 100%;
  }

  .mainContent img {
    margin-top: 0px;
    width: 100%;
    height: auto;
  }

  .pageTitle {
    margin-top: 0px;
  }

  .contentsBox {
    padding: 0 10px;
    margin-bottom: 50px;
  }

  .timeline {
    padding: 0px;
  }

  .timeline_title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .timeline li {
    margin-top: 20px;
    display: flex;
    border-bottom: 1px dotted;
  }

  .timeline .hiddenOne {
    display: none;
  }

  .timeline-date {
    width: 150px;
    float: left;
    margin-top: 0px;
    font-size: 18px;
    text-align: initial;
    padding-right: 0px;
  }

  .timeline-content {
    width: 75%;
    float: left;
    border-left: none;
    padding-left: 0px;
  }

  .timeline-content p {
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .timeline-content:before {
    content: none;
  }

  .programing {
    display: block;
  }

  .programing p {
    width: 100%;
  }

  .programing img {
    width: 100%;
    height: auto;
  }

  .certificate {
    display: block;
  }

  .certificate p {
    width: 100%;
  }

  .certificate img {
    width: 100%;
    height: auto;
  }

  .cards {
    display: block;
  }

  .card {
    width: auto;
    margin-top: 20px;
  }

  .card:nth-child(n + 2) {
    margin-left: 0px;
  }

  .cardContents {
    width: 100%;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  .number {
    background-color: unset;
    width: unset;
    height: unset;
    border-radius: unset;
  }

  .number span {
    color: #f58c9a;
    display: block;
    text-align: center;
    font-size: 15px;
  }

  .video {
    width: 100%;
    padding-top: 30px;
  }

  .video p {
    padding-left: 0px;
  }

  .appLink {
    width: 100%;
    margin-top: 30px;
  }

  .appLink p {
    line-height: 0px !important;
    padding-top: 15px;
  }

  .homeusa {
    display: block;
  }

  .homeusaqr {
    width: 50%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin: 0 auto;
  }

  .jhpmTitle {
    font-size: 22px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .content {
    letter-spacing: 0;
  }

  .titles {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 0px;
    padding: 30px 0;
  }

  .titles p {
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .navi {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .navi a:nth-child(n + 2) {
    margin-left: 15px;
  }

  .mainContent {
    width: 100%;
  }

  .mainContent img {
    margin-top: 0px;
    width: 100%;
    height: auto;
  }

  .timeline {
    padding: 0px;
  }

  .timeline_title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .timeline li {
    margin-top: 20px;
    display: flex;
    border-bottom: 1px dotted;
  }

  .timeline .hiddenOne {
    display: none;
  }

  .timeline-date {
    width: 150px;
    float: left;
    margin-top: 0px;
    font-size: 18px;
    text-align: initial;
    padding-right: 0px;
  }

  .timeline-content {
    width: 75%;
    float: left;
    border-left: none;
    padding-left: 0px;
  }

  .timeline-content p {
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .timeline-content:before {
    content: none;
  }

  .worksCategory {
    margin-bottom: 0px;
  }

  .cards {
    margin-top: 0px;
    display: flex;
    flex-flow: wrap;
    margin-left: 10px;
  }

  .card {
    margin-top: 20px;
    width: 48.4%;
    height: auto;
    background-color: #fff;
  }

  .card:nth-child(n + 1) {
    margin-right: 10px;
  }

  .card:nth-child(n + 2) {
    margin-left: 0px;
  }

  .card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .homeusa {
    display: block;
  }

  .homeusaqr {
    width: 30%;
    height: auto;
    margin: 0 auto;
    display: block;
    margin: 0 auto;
  }
}
