.contents {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #2e3b70;
  color: #ffffff;
  /*color: #d5d8e2;*/
  font-weight: 500;
  letter-spacing: 0.15em;
  font-family: "Noto Sans JP", sans-serif;
}

.contentsBox {
  margin-bottom: 50px;
}

.contentsBox p {
  padding-left: 10px;
}

/* ナビゲーション */
.navBar {
  background-color: #2e3b70;
}

.titles {
  display: table;
  width: 990px;
  margin: 0 auto;
}

a {
  color: #d5d8e2;
  text-decoration: none;
}

.titles p {
  display: table-cell;
  text-align: left;
  font-size: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}

.titles p a {
  color: #ef4056;
}

.titles a {
  color: #d5d8e2;
}

.navi {
  display: table-cell;
  text-align: right;
  font-family: "Montserrat", sans-serif;
}

.navi a:nth-child(n + 2) {
  margin-left: 30px;
}

.navi a.active {
  color: #ef4056;
}

.nav_contact {
  padding-left: 5px;
}

/* TOPページのNEWS部分 */
.top {
  width: 990px;
  margin: 0 auto;
}

.top h3 {
  font-family: "Montserrat", sans-serif;
}

.top img {
  margin-top: 30px;
  width: 990px;
  height: auto;
  filter: grayscale(70%);
}

.top p {
  line-height: 2;
}

/* 経歴年表 */
.profile {
  width: 990px;
  margin: 0 auto;
}

.pageTitle {
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  color: #ef4056;
}

.twitterLink {
  color: #00acee;
}

.githubIcon {
  padding-left: 10px;
}

.hobby p {
  line-height: 2;
}

.timeline {
  padding: 0px;
}

.timeline_title {
  border-bottom: none;
}

.timeline li {
  overflow: hidden;
  margin: 0;
  position: relative;
}

.timeline .hiddenOne {
  overflow: hidden;
  margin: 0;
  position: relative;
}

.hiddens {
  visibility: hidden;
}

.hiddenC h3 {
  visibility: hidden;
}

.hiddenC p {
  visibility: hidden;
}

.hiddenC:before {
  visibility: hidden;
}

.timeline-date {
  width: 105px;
  float: left;
  margin-top: 20px;
  padding-right: 15px;
  text-align: right;
}

.timeline-content {
  width: 80%;
  float: left;
  border-left: 3px solid #d1d3df;
  padding-left: 30px;
  padding-bottom: 20px;
}

.timeline-content p {
  padding-left: 0px;
}

.timeline-content:before {
  content: "";
  width: 16px;
  height: 16px;
  background: #ef4056;
  position: absolute;
  left: 124px;
  top: 24px;
  border-radius: 100%;
}

.timeline-content p {
  line-height: 2;
}

/* スキルのアイコン画像 */
.skills {
  width: 990px;
  margin: 0 auto;
}

h3 {
  border-bottom: 2px solid #f58c9a;
}

.skills .contentsBox p {
  line-height: 2;
}

.programing {
  display: flex;
}

.programing p {
  width: 60%;
}

.programing img {
  width: 40%;
  height: auto;
  filter: grayscale(70%);
}

.certificate {
  display: flex;
}

.certificate p {
  width: 60%;
}

.certificate img {
  width: 40%;
  height: auto;
  filter: grayscale(70%);
}

.intro {
  display: flex;
}

.intro p {
  width: 50%;
}

.category {
  color: #ef4056;
  margin-bottom: 15px;
  line-height: initial;
}

.lists {
  margin-bottom: 50px;
}

.lists .list {
  border-bottom: 2px solid #c1c4c4;
  margin-bottom: 0px;
}

.lists .list:nth-child(1) {
  margin-top: 0px;
}

.list i {
  color: #ef4056;
  padding-right: 5px;
}

.lists p {
  padding-left: 0px;
  margin-left: 10px;
}

.comment {
  margin-top: 0px;
}

.comment i {
  padding-right: 5px;
}

/* My Worksページ */
.works {
  width: 990px;
  margin: 0 auto;
}

.worksCategory {
  margin-top: 0px;
}

.cardsList {
  margin-bottom: 50px;
}

.cards {
  margin-top: 20px;
  display: flex;
}

.card {
  border: 1px solid #c1c4c4;
  border-radius: 10px;
  width: 323px;
  height: auto;
  background-color: #f8f8f8;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.card:nth-child(n + 2) {
  margin-left: 7.5px;
}

.card img {
  width: 323px;
  height: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card:hover {
  transform: translateY(-15px);
}

.card p {
  text-align: center;
  color: #333333;
}

.finishedDate {
  color: #878989;
}

/* 成果物詳細ページ */
.detailContents {
  width: 990px;
  margin: 0 auto;
}

.detailTitle {
  margin-top: 50px;
  font-family: "Montserrat", sans-serif;
  color: #ef4056;
}

.detailContents .contentsBox p {
  line-height: 2;
}

.howtouse {
  display: flex;
  padding-left: 10px;
}

.number {
  background-color: #f58c9a;
  width: 24px;
  height: 24px;
  border-radius: 10%;
}

.number span {
  color: #fff;
  display: block;
  text-align: center;
  font-size: 15px;
}

.howtouse p {
  margin-top: 0px;
  padding-left: 5px;
  line-height: 1.5 !important;
}

.videoBox {
  text-align: center;
}

.video {
  width: 710px;
}

.appLink {
  background-color: #ef4056;
  text-align: center;
  width: 710px;
  margin: 0 auto;
  border-radius: 10px;
  border-bottom: solid 4px #627295;
}

.appLink p {
  padding-top: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
}

.appLink a {
  color: #fff;
  font-weight: bold;
}

.appLink:hover {
  transform: translateY(4px);
}

/* お問い合わせリンク*/
.contact {
  width: 990px;
  margin: 0 auto;
}

.formLink {
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #ccc;
  padding: 10px;
  /*box-shadow: 0 4px 4px rgba(0,0,0,0.3);*/
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px;
}

/* フッター */
footer {
  /*background-color: #eee;*/
  text-align: center;
  margin-top: auto;
  padding-top: 100px;
}

@media screen and (max-width: 767px) {
  .content {
    letter-spacing: 0;
  }

  .titles {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 0px;
    padding: 30px 0;
  }

  .titles p {
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .navi {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .navi a {
    font-size: 18px;
  }

  .navi a:nth-child(n + 2) {
    margin-left: 15px;
  }

  .top {
    width: 100%;
  }

  .top img {
    margin-top: 0px;
    width: 100%;
    height: auto;
  }

  .profile {
    width: 100%;
  }

  .contentsBox {
    padding: 0 10px;
    margin-bottom: 50px;
  }

  .timeline {
    padding: 0px;
  }

  .timeline_title {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .timeline li {
    margin-top: 20px;
    display: flex;
    border-bottom: 1px dotted;
  }

  .timeline .hiddenOne {
    display: none;
  }

  .timeline-date {
    width: 110px;
    float: left;
    margin-top: 0px;
    font-size: 18px;
  }

  .timeline-content {
    width: 75%;
    float: left;
    border-left: none;
    padding-left: 0px;
  }

  .timeline-content p {
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .timeline-content:before {
    content: none;
  }

  .skills {
    width: 100%;
  }

  .programing {
    display: block;
  }

  .programing p {
    width: 100%;
  }

  .programing img {
    width: 100%;
    height: auto;
  }

  .certificate {
    display: block;
  }

  .certificate p {
    width: 100%;
  }

  .certificate img {
    width: 100%;
    height: auto;
  }

  .works {
    width: 100%;
  }

  .cards {
    display: block;
  }

  .card {
    width: auto;
    margin-top: 20px;
  }

  .card:nth-child(n + 2) {
    margin-left: 0px;
  }

  .cardContents {
    width: 100%;
  }

  .card img {
    width: 100%;
    height: auto;
  }

  .detailContents {
    width: 100%;
  }

  .number {
    background-color: unset;
    width: unset;
    height: unset;
    border-radius: unset;
  }

  .number span {
    color: #f58c9a;
    display: block;
    text-align: center;
    font-size: 15px;
  }

  .video {
    width: 100%;
  }

  .appLink {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .content {
    letter-spacing: 0;
  }

  .titles {
    display: block;
    width: 100%;
    margin-bottom: 30px;
    margin-top: 0px;
    padding: 30px 0;
  }

  .titles p {
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 0px;
  }

  .navi {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .navi a:nth-child(n + 2) {
    margin-left: 15px;
  }

  .top {
    width: 100%;
  }

  .top img {
    margin-top: 0px;
    width: 100%;
    height: auto;
  }

  .profile {
    width: 100%;
  }

  .skills {
    width: 100%;
  }

  .works {
    width: 100%;
  }

  .worksCategory {
    margin-bottom: 0px;
  }

  .cards {
    margin-top: 0px;
    display: flex;
    flex-flow: wrap;
    margin-left: 10px;
  }

  .card {
    margin-top: 20px;
    width: 48.4%;
    height: auto;
    background-color: #fff;
  }

  .card:nth-child(n + 1) {
    margin-right: 10px;
  }

  .card:nth-child(n + 2) {
    margin-left: 0px;
  }

  .card img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .detailContents {
    width: 100%;
  }
}
